/*src/components/CreateGroupPage.css*/
.create-group-page {
    background: linear-gradient(to right, #D6AEDD, #D6AEDD);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
    color: white;
    flex-direction: column;
  }
  
  h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 20px;
    color: #9523aa;
  }
  
  form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
  }
  
  input, textarea {
    padding: 12px;
    font-size: 1rem;
    margin: 10px 0;
    border-radius: 10px;
    border: 1px solid #9523aa;
    width: 100%;
    box-sizing: border-box;
  }
  
  textarea {
    resize: vertical;
  }
  
  button {
    background-color: #9523aa;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1.2rem;
    margin-top: 15px;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
  }
  
  button:hover {
    background-color: #FFB7B2;
    color: #9523aa;
  }
  
  .error {
    color: red;
    font-size: 1rem;
    margin-bottom: 20px;
    text-align: center;
  }
  