
.footer {
    background: linear-gradient(to right, #D6AEDD, #D6AEDD); 
    color: #333;
    text-align: center; 
    padding: 20px 0; 
    position: fixed;
    bottom: 0;
    width: 100%; 
    font-family: 'Arial', sans-serif;
    font-size: 1rem;
  }
  
  .footer p {
    margin: 0;
    color: #9523aa; 
  }
  