/* Stiluri generale pentru pagina de login */
.login-page {
  background: linear-gradient(to right, #D6AEDD, #D6AEDD);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Arial', sans-serif;
}

/* Titlu Login centrat */
.login-title {
  font-size: 2.5rem;
  text-align: center;
  color: black;
  margin-bottom: 20px;
}

/* Formularul */
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

/* Etichetele */
label {
  color: black;
  font-size: 1rem;
  margin-bottom: 5px;
  align-self: flex-start;
}

/* Câmpurile de input */
input {
  padding: 12px;
  font-size: 1rem;
  margin: 10px 0;
  border-radius: 10px;
  border: 1px solid #9523aa;
  width: 100%;
  box-sizing: border-box;
}

/* Butonul Login */
button {
  background-color: #9523aa;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 1.2rem;
  margin-top: 15px;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s;
  width: 100%;
}

button:hover {
  background-color: #FFB7B2;
  color: #9523aa;
}

/* Mesajele & linkurile */
p {
  font-size: 1rem;
  text-align: center;
  color: black;
  margin-top: 20px;
}

a {
  color: #9523aa;
  text-decoration: underline;
  font-weight: bold;
}

a:hover {
  color: #FF4081;
}
