.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f0b8fa;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    z-index: 1000; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.navbar-logo img {
    height: 50px; 
}

.navbar-links a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    transition: color 0.3s;
}

.navbar-links a:hover {
    color: #FFB7B2; 
}
